# === DB ===
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

# === API ===
BACKEND_PORT=3001
JWT_SECRET=your_jwt_secret
GEONAMES_USERNAME=your_geonames_username
# Maps
MAPTILER_API_KEY=your_maptiler_api_key
MAPTILER_MAP_ID=your_maptiler_map_id

# === FRONT / MOBILE ===
FRONTEND_PORT=3000
API_URL=http://localhost:3001

# Comma-separated list of allowed CORS origins (e.g. http://localhost:3000,https://myapp.com)
FRONTEND_URL=http://localhost:3000